[package]
name = "mandelbrot-wasm-rust"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"

[dev-dependencies]
proptest = "1.4"

[profile.release]
opt-level = 3
lto = true
